@inherits CoreRxComponent<WizardGameViewModel>
@inject TranslateService translate

<div class="flex gap-2 items-center">
    <FaSolidGamepad class="icon-sm" />
    <h1 class="text-lg m-0">
        <span>@("play" | translate)</span>
    </h1>
</div>

<div class="self-center">
    <LottiePlayer Source="lottie/wizard.lottie" AutoPlay Loop />
</div>

<Button class="btn btn-secondary mx-auto min-w-60 my-2 gap-2 h-12" OnClick="() => ViewModel.Count()">
    <FaSolidScroll class="icon-sm" />
    <span>@("count" | translate)</span>
</Button>