@inherits CoreRxComponent<WizardGameViewModel>
@inject TranslateService translate

<div class="flex gap-2 items-center">
    <FaSolidWandMagicSparkles class="icon-sm" />
    <h1 class="text-lg m-0">
        <span>@("prepare" | translate) </span>
        <span>@("round" | translate) </span>
        <span>@(ViewModel.CurrentRound + 1)</span>
    </h1>
</div>

<div class="self-center">
    <LottiePlayer Source="lottie/deal-cards.lottie" AutoPlay Loop />
</div>

<Button class="btn btn-secondary mx-auto min-w-60 my-2 gap-2 h-12" OnClick="() => ViewModel.Bet()">
    <FaSolidDice class="icon-sm inline" />
    <span>@("bet" | translate)</span>
</Button>
