@page "/{gameId}"

@using WizardCounter.Pages.Game.Components

@inherits CoreRxComponent<WizardGameViewModel>

@inject ISyncLocalStorageService storage

@* Not Found  *@
@if (ViewModel is null)
{
    <NotFound />
    return;
}

<div class="h-full grid grid-rows-[auto_1fr_auto] gap-2">
    @* Found  *@
    @switch (ViewModel.State)
    {
        case WizardGameState.Initializing:
            <Initializing ViewModel="ViewModel" />
            break;
        case WizardGameState.Preparing:
            <Preparing ViewModel="ViewModel" />
            break;
        case WizardGameState.Betting:
            <Betting ViewModel="ViewModel" />
            break;
        case WizardGameState.Playing:
            <Playing ViewModel="ViewModel" />
            break;
        case WizardGameState.Counting:
            <Counting ViewModel="ViewModel" />
            break;
        case WizardGameState.Finished:
            <Finished ViewModel="ViewModel" />
            break;
    }
</div>

@code {
    [Parameter]
    public string GameId { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        if (Uuid.TryParse(GameId, out var gameId) is false ||
            storage.GetItem<WizardGame>(gameId) is not { } game)
        {
            return;
        }

        ViewModel = new(game);
        ShellContext.Title = game.Name;

        ViewModel.WhenPropertyChanged
            .Subscribe(_ =>
            {
                storage.SetItem(gameId, game);
                Update();
            })
            .DisposeWith(Disposables);
    }
}
