@inherits LayoutComponentBase

@inject TranslateService translate

@* @if (ThisAssembly.IsPrerelease)
{
    <div class="fixed w-full h-0 pointer-events-none">
        <div class="p-1 bg-amber-500 origin-top float-right mt-4 mr-4 w-28 text-center translate-x-1/2 rotate-45 pointer-events-none">
            <p class="font-mono font-semibold text-xs pointer-events-none">DEV</p>
        </div>
    </div>
} *@

<PageTitle>@title</PageTitle>

<header class="flex w-full items-center p-6 gap-2 border-b border-on-surface">
    <h1 class="m-0 text-2xl font-bold">@ShellContext.Title</h1>
    <a href="" class="btn btn-primary w-10 h-10 ms-auto"><FaSolidHouse class="icon-sm" /></a>
</header>

<main class="overflow-y-auto p-2">
    @Body
</main>

@code {
    private string? title;

    protected override void OnInitialized()
    {
        ShellContext.TitleChanged.Subscribe(title =>
        {
            this.title = string.IsNullOrEmpty(ShellContext.Title) ? "Wizard Counter" : $"Wizard Counter - {title}";
            StateHasChanged();
        });
    }
}
